data_challenge/panama_papers_challenge
twitter_loc/tweets_csvs
twitter_loc/*csv
twitter_loc/*png
*/*/*.zip
data_challenge/world_bank_data/*.csv
data_challenge/world_bank_data/*checkpoint*
data_challenge/user_referral/*checkpoint*
data_challenge/*/*checkpoint*
*/*pem
flaskapp_orig
data_challenge/AB_test_challenge/Translation_Test
data_challenge/AB_test_challenge/Translation_Test.zip
data_challenge/coding_challenge/kutch*
data_challenge/coding_challenge/swe-barebones
data_challenge/conversion_rate/conversion_data.csv
elasticIP
@realDonaldTrump_tweets.csv
data_challenge/funnel_challenge/*.csv
insight_stuff
ns_records
lastfm_api/*check*/*check*
spotify_api
*/*/*checkpoint*
*/*/*npy

